<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
</head>
<body>

    <div class="container">

        <nav>
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'add_bookmarks' %}">Add Bookmarks</a>
            <a href="{% url 'list_bookmarks' %}">Bookmark List</a>
            <a href=" {% url 'logout' %}">Logout</a>
        </nav>

    {% block 'content' %}
    {% endblock %}

    </div>
    
</body>
</html>