<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>

        * {
            font-family: "Montserrat", sans-serif;
        }

        .container-nav a {
            text-decoration: none;
            padding: 20px;
            color: royalblue;
        }

    </style>
    
</head>
<body>

    <div class="container-nav">

        <nav>
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'add_bookmarks' %}">Add Bookmarks</a>
            <a href="{% url 'list_bookmarks' %}">Bookmark List</a>
            <a href=" {% url 'logout' %}">Logout</a>
        </nav>

    {% block 'content' %}
    {% endblock %}

    </div>
    
</body>
</html>