<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'signup' %}">Signup</a> &nbsp;&nbsp;
        <a href="{% url 'login' %}">Login</a> &nbsp;&nbsp;
        <a href="{% url 'visitcounter' %}">Visit count</a> &nbsp;&nbsp;
        <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;
    </nav>

    <h1>You have visited this page {{ count }} times.</h1>
    
</body>
</html>