{% load static %}
<div class="container">

        <div class="foot">

            <div class="logo2">
                <img src="{% static 'MashupStacklogo.png'%}" alt="logo" width="200px">
            </div>

            <div class="nav2">

                <ul>
                    <li><a href="{% url 'home' %}">Website will be under maintenance this Saturday</a></li>
                    <li><a href="#">New blog section coming soon!</a></li>
                    <li><a href="{% url 'contact' %}">Contact us for more information</a></li>
                </ul>             

            </div>

        </div>

    </div>