<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form data</title>

    <style>

        h2 {
            text-align: center;
            color: green;
            margin-top: 100px;
            font-family: 'Courier New', Courier, monospace;
        }

        span {
            font-weight: normal;
            color: black;
        }



    </style>

</head>
<body>

    <h2>Thank You <span>{{ Email }}</span></h2>
    
</body>
</html>